* {
    color: #373a3c;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;
}

ul {
    list-style: none;
}

body {
    background-color: #727272
}

/*顶部 start*/
.header {
    height: 50px;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #222;
    border-color: #080808;
}

.header ul li {
    line-height: 50px;
    font-size: 15px;
    float: left;
    margin-left: 20px;
    font-family: Futura;
}

.header ul li a {
    color: #A0A3A5;
    text-decoration: none;
    /*font-weight: bold;*/
}

.header ul li a:hover {
    color: #ffffff;
}

/*end 顶部*/

/*正文左边 start*/
.content {
    margin-top: 20px;
}

.content .site_left {
    margin-left: 35px;
    width: 60%;
    float: left;
    clear: both;
    font-weight: bold;
    font-size: 35px;
}

.content .site_left .site_item {
    border: #ffffff solid 1px;
    background-color: #ffffff;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px;
    border-left: #ce4844 5px solid;
}

.content .site_left .site_item .category_name {
    line-height: 40px;
    margin-left: 10px;
    font-size: 25px;
    color: #ce4844;
}

.content .site_left .site_item ul {
    max-height: 100px;
    overflow: hidden;
}

.content .site_left .site_item ul li {
    display: block;
    margin-left: 10px;
    float: left;
}

.content .site_left .site_item ul li a {
    text-decoration: none;
}

.content .site_left .site_item ul li a:hover {
    color: #ce4844;
}

/*end 正文左边*/

/*正文右边 start*/
.site_right {
    float: right;
    width: 35%;
    margin-right: 25px;
}

.content .site_right .site_block {
    margin-right: 50px;
}

.content .site_right .site_block ul {
    max-height: 100px;
    overflow: hidden;
}

.content .site_right .site_block .s_category_name {
    margin-left: 10px;
    line-height: 40px;
    font-size: 25px;
    color: #ce4844;
}

.content .site_right .site_block ul li {
    display: block;
    margin-left: 10px;
    float: left;
}

.content .site_right .site_block ul li a {
    text-decoration: none;
}

.content .site_right .site_block ul li a:hover {
    color: #ce4844;
}

.content .site_right .site_block .s_first {
    width: 80%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    margin-top: 20px;
    border-left: #ce4844 solid 4px;
    height: 200px;
    overflow: hidden;
}

/*end 正文右边*/
/*收藏 start*/
.add {
    width: 30px;	
    height: 30px;
    padding: 20px;
    background-color: #337ab7;
    position: fixed;
    border-color: #2e6da4;
    border-radius: 50%;
    color: #ffffff;
    margin-left:1250px;
    line-height: 30px;
    margin-top: 450px;
    font-weight: bold;
    cursor: pointer;
}
/*end 收藏*/

/*弹出框 start*/
.pop {
    border-radius: 5px;
    padding: 20px;
    position:absolute;
    display: none;
    width: 408px;
    border:1px solid #c0c0c0;
    background-color: #ffffff;
}

.pop input {
    border-radius: 5px;
    width: 400px;
    height: 30px;
    padding: 2px 5px;
    border: 1.5px solid #d4d4d4;
    background-color: #ffffff;
    outline:none;
    margin: 5px auto;
}
.pop input:active {
    background-color: #ffffff;
}

.pop .p_categeory{
	padding: 7px 27px;
	border-radius: 5px;
	text-align: center;
}

.pop .p_top{
    border-bottom: #d4d4d4 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.pop .p_submit {
    color: #000000;
    height: 40px;
    width: 250px;
    margin-left: 15px;
    background-color: #d4d4d4;
    cursor: pointer;
}
.pop .p_title{
    color: #373a3c;
    font-size:25px;
}

.pop .p_close{
    color: #dedede;
    float: right;
    font-size:25px;
    margin-right: 5px;
    cursor: pointer;
}
/*end 弹出框*/